.DibujitoNegro {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    place-items: center;
    max-width: 500px;
    margin: auto;
}

.RayitaNegra {
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    height: 4px;
    width: 80%;
}