.DibujitoBlanco {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    place-items: center;
    max-width: 500px;
    margin: auto;
}

.RayitaBlanca {
    background-color: white;
    border-radius: 4px;
    height: 4px;
    width: 80%;
}