.presentacion {
    background-color:rgb(255, 140, 80);
    padding-top: 120px;
    padding-bottom: 70px;
    text-align: center;
}

h2 {
    font-size: 3.5rem;
}

.estrellita {
    text-align: center;
}

p {
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}